<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Sign In!</h1>

    <%# can use table from db to make a form! %>
    <%# looks for a url helpe post request %>
    <%# NEED TO HAVE local: true to redirect locally!!! %>
    <%= form_with url: sign_in_path, local: true do |form| %>

        <div class="mb-3"> 
            <%= form.label :email %>
            <%= form.text_field :email, class:"form-control", placeholder: "rashi.ghosh@cerner.com" %>
        </div>
        <div class="mb-3">
            <%= form.label :password %>
            <%= form.password_field :password, class:"form-control", placeholder: "your password" %>
            <%= link_to "Forgot your password?", password_reset_path, class: "general-link" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Let's Go!", class:"btn" %>
        </div>
    <% end %>
</div>